doctype html
html
  head
    title Dance Academy
    block scripts
    block style
  body
    nav#navbar
           ul
             div#logo 
                img(src="/static/img/log.jpg " width="90px 100px")
                        
        
             li #[a(href="/") Home]
             li #[a(href="/") About]
             li #[a(href="/") Contact us]
             li #[a(href="/") Services]
             li #[a(href="/") Class info]
    
    

    block content
        
    footer#footer
       |Copyright © 2020 My DanceAcademy.com 