/* linking static css file in pug */
*{
    font-family: 'Courier New', Courier, monospace;
    /* color:red; */
    /* text-shadow: 2px 2px blue; */
    /* text-align: center; */
    
    margin: 0;
    padding: 0;
    
}
body::before{
    content: "";
    width: 100%;
    height: 700px;
    top: 0px;
    z-index: -1;
    opacity: 1.0;
    
    position: absolute;
    background: url("/static/rawImage.jpg")  no-repeat center center;



}
nav{
    background-color:black;
    padding:12px;
    color: blanchedalmond;

}
h2{
    color:black;
    /* color:red; */
    text-shadow: 2px 2px blue;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    padding: 3px 16px;
}
.container{
    margin: 30px auto;
     background-image: url("../rawImage.jpg") center center no-repeat cover; 
   
    max-width: 80%;
    color:red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* text-shadow: 2px 2px blue; */
    text-align: center;
}
a{
    text-decoration: none;
    color:wheat;
    font-weight: bold;
  
}
input , textarea{
    display: block;
    padding: 4px;
    margin: 15px auto;
    width: 60%;
    outline: none;
    border-radius: 6px;
}
.btn{
    display: block;
    padding: 10px 3px;
    background-color:gray;
    color:white;
    font-size: 15px;
    font-weight: bold;
    margin: 15px auto;
    border-radius: 7px;
    border: 2px solid black;
    cursor: pointer;
    outline:none;
}
